.id{
  font-weight: bold;
  display: flex;
  justify-content: end;
  padding: 15px 35px 0 0 ;
}
.logout{
  display: flex;
  justify-content: end;   
  cursor: pointer;
  text-decoration: underline;
  color:#8A8A8A;
  padding: 5px 35px 0 0 ;
}
.body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .calendar {
    width: 800px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .year-month {
    font-size: 35px;
  }
  .nav {
    display: flex;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
  }
  .nav-btn {
    width: 28px;
    height: 30px;
    border: none;
    font-size: 16px;
    line-height: 34px;
    background-color: transparent;
    cursor: pointer;
  }
  .go-today {
    width: 75px;
    border-left: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
  }
  .days {
    display: flex;
    margin: 25px 0 10px;
    font-weight: bold;
    font-size: 32px;
    width: 800px;
  }
  .day {
    width: calc(99% / 7);
    height: 60px;
    background-color: #dddcdc;
    border: 1px solid #C4C4C4;
    border-bottom: none;
    border-right: none;
    text-align: center;
  }
  .dates {
    width: 800px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;  
    height: 500px;
    border-top: 1px solid #C4C4C4;
    margin-top: -10px;
  }
  .date {
    display: flex;
    width: calc(99% / 7);
    min-height: 100px;
    border-bottom: 1px solid #C4C4C4;
    border-left: 1px solid #C4C4C4;
    font-weight: 400;
  }
  .date-number{
    font-weight: bold;
    padding: 10px 0 0 10px;
  }
  .case-number{
    color: #C4C4C4;
    text-align: center;
    padding: 10px 0 0 5px;
  }

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #f44e4e;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
  border-right: 1px solid #C4C4C4;
}
.booker,.phone,.place-name,.start-date,.end-date,.people-number,.added-people,.dog-number,.added-dog,.etc{
  color: #474747;
  padding-top: 30px;
  font-weight: bold;
  border-bottom: 2px solid #E5E5E5;
  margin-right: 10px;
}
.start-date,.end-date,.people-number,.added-people,.dog-number,.added-dog,.etc{
  display: flex;
  color:#8A8A8A;
  justify-content: space-between;
}
.booker{
  padding-top: 50px;
}
.place-name,.people-number{
  padding-top: 90px;
}
