.day-number{
  font-weight: bold;
  padding: 10px 0 0 10px;
  }
.case-number{
  color: #C4C4C4;
  text-align: center;
  padding: 10px 0 0 5px;
}
.booker,.phone,.place-name,.start-date,.end-date,.people-number,.added-people,.dog-number,.added-dog,.etc{
  color: #474747;
  padding-top: 30px;
  font-weight: bold;
  border-bottom: 2px solid #E5E5E5;
  margin-right: 10px;
}
.start-date,.end-date,.people-number,.added-people,.dog-number,.added-dog,.etc{
  display: flex;
  color:#8A8A8A;
  justify-content: space-between;
}
.booker{
  padding-top: 20px;
}
.place-name,.people-number{
  padding-top: 30px;
}
