.reservation-button-wait{
    cursor: pointer;
    border: none;
    text-align: center;
    margin:auto;
    display:block;
    margin-top: 15px;
    height: 35px;
    background-color: #FF9162;
  }
  .reservation-button-fix{
    cursor: pointer;
    border: none;
    text-align: center;
    margin:auto;
    display:block;
    margin-top: 15px;
    height: 35px;
    background-color: #00B860
  }
  .reservation-button-cancle-wait{
    cursor: pointer;
    border: none;
    text-align: center;
    margin:auto;
    display:block;
    margin-top: 15px;
    height: 35px;
    background-color:#FF2063;
  }
  .reservation-button-cancle{
    cursor: pointer;
    border: none;
    text-align: center;
    margin:auto;
    display:block;
    margin-top: 15px;
    height: 35px;
    background-color: #8A8A8A;
  }
  .reservation-button-comple{
    cursor: pointer;
    border: none;
    text-align: center;
    margin:auto;
    display:block;
    margin-top: 15px;
    height: 35px;
    background-color:#3083FF;
  }
  .reservation-button-container{
    padding-top: 50px;
  }
  .reservation-cancle-button{
    width: 50%;
    background: #D9D9D9;
    border: none;
    height: 60px;
    color: #3E382F;
    font-weight: 700;
    font-size: 15px;
  }
  .reservation-cancle-button-fix{
    width: 100%;
    background: #D9D9D9;
    border: none;
    height: 60px;
    color: #3E382F;
    font-weight: 700;
    font-size: 15px;
  }
  .reservation-confirmation-button{
    width: 50%;
    background: #FF9162;
    border: none;
    height: 60px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
  }
